[Desktop Entry]
Name=Math Support
Name[sv]=Räknestöd
Comment=Visual math for children with IF
Comment[sv]=Visuell matematik för barn
Exec=raknestod
Icon=se.danielnylander.raknestod
Type=Application
Categories=Education;Accessibility;Autismappar
